@font-face {
    font-family: "Baron";
    src: url(./fonts/Commercial/OTF/BaronNeue-Black.otf);
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    background-color: #FF7A00;
    color: white;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    font-family: "Baron";
    font-size: 25px;
}
.menu {
    margin: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.column{
    display: grid;
   
    grid-gap: 10px;
}

.cell {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.order-form {
    margin: 20px;
}

label {
    margin-right: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

img {
    width: 200px;
    height: 200px;
}

.grid-form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Add margin for spacing */
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.dish-name, .deliveryType, [name^="data[time"] {
    width: 100%; /* Make the selects fill the entire width of the cell */
    padding: 8px; /* Add padding for a cleaner look */
}

.deliveryType {
    text-align: center;
}

#customerName {
    width: 25%; /* Make the input fill the entire width of the container */
    padding: 8px; /* Add padding for a cleaner look */
    margin-top: 10px; /* Add margin for spacing */
}

#submit {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 15px; /* Add padding for a cleaner look */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Add pointer cursor */
    margin-top: 10px; /* Add margin for spacing */
}

#submit:hover {
    background-color: #45a049; /* Darker green color on hover */
}
.cell img {
    margin: 10px 0;
}

.nationality {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
h3 {
    margin: 0;
    padding: 5px 10px;
    display: inline;
}
.nationality img {
    margin:0;
}

.dietary-icons {
    margin-top: 5px;
}

.icon {
    margin-left: 20px;
    font-size: 20px;
    
}

.time {width: 20%}

.dish-name {
    font-weight: bold;
}
.dish-description {
    margin: 10px 0;
}

.flag {
    height: 25px;
    width: 38px;
    border: 1px solid rgb(200, 200, 200);
}

/* h1 {
    text-align: center;
} */

/* Add a media query for screens with a maximum width of 600 pixels (adjust as needed) */
@media only screen and (max-width: 600px) {
    nav {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .logo {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .grid {
        grid-template-columns: repeat(1, 1fr); /* Change to a single column for smaller screens */
        grid-gap: 5px; /* Adjust grid gap for smaller screens */
    }

    .cell {
        width: 100%; /* Make each cell take the full width on smaller screens */
    }

    .dish-name, .deliveryType, [name^="data[time"] {
        width: 100%; /* Make the selects fill the entire width on smaller screens */
    }

    #customerName {
        width: 100%; /* Make the input fill the entire width on smaller screens */
    }

    .order-form {
        margin: 10px;
    }
}